body { background-color: #005266 }
ul, li {padding: 0; margin: 0; list-style: none}
input, button {padding: 0; margin: 0; background: transparent; border: 0}

#navbar {background: #333; padding: 10px; color: #fff; font-weight: bold}

/* Sonuçlar */
#sonuclar {margin-top: 55px; padding-left: 10px}
.sonuc {background: #fff; padding: 5px; border-bottom: 1px solid #ddd; cursor: pointer}

#links {
        margin-top: 3px;
}

#links ul {
        list-style: none outside none;
        width: 200px;
        display: inline;
        padding: 0;
}

#links li {
        position: relative;
        display: inline;
        margin: 20px;
}

#links li a {
        color: #FFFFFF;
        display: inline;
        font: 100% Arial, Helvetica, sans-serif;
        /*padding-bottom: 55px;*/
        padding-right: 15px;
        padding-left: 15px;
        text-decoration: none;
}

 * html #links li a {  /* make hover effect work in IE */
    width: 200px;
}

#links a em {
        color: #FFFFFF;
	font: normal 85% Verdana, Helvetica, sans-serif;
        line-height: 125%;
        display: inline;
}

#links a span {
        color: #FFFFFF;
        font: normal 70% Verdana, Helvetica, sans-serif;
        line-height: 150%;
        display: inline;
}
#navbar {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:<length>;
 }
@media screen{
  body>div#navbar{
   position: fixed;
  }
}
