#facebox .b {
 
  
}

#facebox .tl {
  background:url(../facebox/tl.png);
}

#facebox .tr {
  background:url("../facebox/tr.png") repeat scroll -2px 0px transparent
}

#facebox .bl {
  background:url(../facebox/bl.png) no-repeat;
}

#facebox .br {
  background:url(../facebox/br.png) no-repeat; 
}

#facebox .topOverlay {
  background:url(../facebox/top.png);
}

#facebox .leftOverlay {
  background:url(../facebox/left.png);
}

#facebox .rightOverlay {
  background:url(../facebox/right.png)  ;
}
#facebox .bottomOverlay {
  background:url(../facebox/bottom.png) repeat-x;
}

#facebox .tl ,
#facebox .tr ,
#facebox .bl ,
#facebox .br ,
#facebox .topOverlay ,
#facebox .leftOverlay ,
#facebox .rightOverlay ,
#facebox .bottomOverlay 
{
_background: none; 
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
border:none;
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  padding-top:15px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
 height:16px;
	overflow:hidden;
	padding:5px;
	width:14px;
}
#facebox .b {
   height:6px;
    overflow:hidden;
}



#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 2000;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#facebox .close {
	position:absolute;
	right:16px;
	top:18px;
	z-index:100;
}  

