html {
  height: 100%;
  margin-bottom: 1px;
  background: #fff;
}

body {
    text-align:center;    
    color:#FFFFFF;
    font-family:Helvetica,Arial,sans-serif;
    font-size:13px;
    text-decoration:none;
    margin:0px;
    padding:0px;
   /* overflow:hidden;
    height: 600px;
   */

}
h1 {
    color:#b7005d;
    font-family:Helvetica,Arial,sans-serif;
    font-size:13px; 
    margin-bottom:13px;
}
#smsvalidation input{
    vertical-align: middle;

}
#smsvalidation {
    width: 500px;
    padding:15px;
}

    div.body_bg{
        /* Set rules to fill background */
            min-height: 100%;
            min-width: 1024px;

            /* Set up proportionate scaling */
            width: 100%;
            height: auto;

            /* Set up positioning */
            position: fixed;
            top: 0;
            left: 0;
            background: url('/public/images/welcome/body_bg.jpg') repeat-x top left;   

    }
    div.header{
         background: url('/public/images/welcome/header_bg.png') repeat-x top left;   
         height:78px;
         position:relative;
         z-index:5;         
    }
    div.footer {
         background: url('/public/images/welcome/footer_bg.jpg') repeat-x top left;   
         height:88px;
         position:relative;
         z-index:5;         
    }

    div.wrapper {
            margin:0 auto;
            position:relative;
            text-align:left;
            width:980px;
            z-index:10;
    }
    div.main .wrapper{
        margin-top:7px;
        margin-bottom:41px;
        padding:6px;
        background: #ffffff;
        width:968px;
          
    }
    div.main div.left {
        position: absolute;
        top:380px;
        width: 341px;
        padding-left:22px;
    }
     div.main div.right {
        position: absolute;
        background: url('/public/images/welcome/overlay.png') no-repeat top left;          
        top:20px;
        height: 619px;
        width: 581px;
        right:28px;
    }
    div.pad {
        padding:25px;
        font-size:13px;
    }
    
    .product .img_wrapper {
          width:999999px;
          height:235px;
          position:absolute;
          z-index:9;
        }
        .cmp_slider {display:none;}
        .product .img_wrapper img {float:left; width:310px;  background:url(/public/images/loading.gif) center center no-repeat;}
        .product{
            width:310px; height:235px;position:relative; overflow:hidden;
            background-color: none;  
        }
        div.tm_nav a.leftArrow {
            background:url("/public/images/welcome/arrow.png") no-repeat scroll 0 -36px transparent;
            display:block;
            float:none;
            height:36px;
            left:5px;
            outline:medium none;
            position:absolute;
            top:120px;
            width:36px;
            z-index:10;
            
        }
        div.tm_nav a.rightArrow {
            background:url("/public/images/welcome/arrow.png") no-repeat scroll 0 0 transparent;    
            display:block;
            float:none;
            height:36px;
            outline:medium none;
            position:absolute;
            right:15px;
            top:120px;
            width:36px;
            z-index:10;
        }
        div.f2 {
            margin-top:31px;
            margin-bottom:31px; 
        }
        div.f3{
            font-size:14px;
        }
        div.f3 span{
            font-weight: bold;
            font-size:21px;
            position: absolute;
            margin-top:-3px;
            margin-left:5px;
        }
        .w_table {
            margin-top:25px;
        }
        .w_table .c1 { width: 257px;}
        .w_table .c2 { width: 273px;padding-left: 20px;}
        .w_table tr td{ padding-bottom:16px;}
        .w_table tr td a{
            color:#fff;text-decoration: underline;
            font-size:12px;
        }
        input.txtInput {
            width:236px;
            border: 1px solid #5f5c57;
            font-size:12px;
            color:#000000;
            padding-left:10px;
            padding-right:10px;
            padding-top:7px;
            padding-bottom:7px;
            margin-top:7px;
            
        }
        .w_table label{ display: block;  width:236px; }
        select.txtInput {
            width:258px;
            border: 1px solid #5f5c57;
            font-size:12px;
            color:#000000;
            padding-left:10px;
            padding-right:10px;
            padding-top:7px;
            padding-bottom:7px;
            margin-top:7px;
            
        }
        input.checkbox {
             border: 1px solid #5f5c57;          
             margin-right:7px;
        }
        
        select#bdateDay  {width:78px;}  
        select#bdateMonth{ width: 76px;}  
        select#bdateYear{width: 96px;} 
        input#handy1{ width: 76px;text-align: center;}
        input#handy2{ width: 134px;text-align: center;}
        button.send {
            border:none;
            height:40px;
            position:relative;
            text-align:center;
            width:121px;
            background:url("../images/btn_welcome.gif") no-repeat  0px 0px ; 
            margin-left:19px; 
        }
         button.sendBtn{                 
                border:none;
                height:38px;
                position:relative;
                text-align:center;                  
                width: 116px !important;
                background:url("../images/buttons.png") no-repeat  0px 0px ;
                background-position:0px -156px ;             
        }        
        button.sendBtn:hover{
                background-position:0px -197px ;        
        }     

        td.agb{
            padding-top:10px;
            
        }
        
        input.email{ width: 514px; }
        td.short_b2{
            text-align: right;
        }
        .short_b2 .send{
            margin-right:0px;
        }
        div.short_basket div.right {
                   background:url("/public/images/welcome/short_overlay.png") no-repeat scroll left top transparent;                
        }
        div.short_basket td.agb{
            padding-top:0px;
        }
        div.short_basket input.email {
            width: 236px;
            
        }
        div.short_basket .bg_img {
            height: 444px;
            overflow: hidden;
        }
        div.win5 {
            position: absolute;
            bottom:21px;
            left:211px;
        }
        .emailformError .formErrorArrow div{background:#c93182; color:#fff;}
.emailformError  .formErrorContent {background:#c93182;text-align: center;width: 110px;}       

.passwordformError .formErrorArrow div{background:#c93182; color:#fff;}
.passwordformError .formErrorContent {background:#c93182;text-align: center;width: 80px;}    