<?xml version="1.0" encoding="iso-8859-1"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.0">
  <name>Limango</name>
  <description>BlackBerry uygulamasi</description>
  <author>Fatmagül Ergani</author>
  <access subdomains="true" uri="https://limango.com.tr/index.php" />
  <icon src="icon.png"/>
  <content src="index.html"/>
  <feature id="blackberry.app"/>
</widget>